a.btn.btn-primary, li.cat-item.cat-item-1 {
    background: #000;
    border: none;
    border-radius: 30px;
    color: #fff;
    margin: 5px;
    font-size: 16px;
    padding: 10px 20px;
    width: fit-content;
}
li.cat-item.cat-item-1 a {
    color: #fff;
}
div#block-9 {
    padding: 10px;
    border: 1px solid #dedede;
    margin-bottom: 30px;
}
img {
    max-width: 100%;
}