
/* @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap');


* {
    font-family: "Montserrat", sans-serif;
}

.scrolled nav.navbar {
    background: #fff;
    padding: 10px 0;
    opacity: 1;
    position: fixed;
    top: 0;
    z-index: 9999;
}

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
   /* body{
     background-color: #fff;
     color: #000;
   } */
  .desktop-hide {
    display: none;
  }

a {
    /* This forces words to break within a container */
word-wrap: break-word; /* For legacy support */
overflow-wrap: break-word; /* Modern equivalent for better support */
white-space: normal; /* Ensures text wraps normally */
word-break: break-all; /* Ensures text breaks even in the middle of long words */
hyphens: auto; /* Adds hyphenation to long words if possible */

}



    	.heading-h1 {
            font-size: 4.6rem;
            font-weight: 600;
            line-height: 82px;
            text-align: center;
        } 
        h2.heading-2 {
            font-family: Syne;
            font-size: 48px;
            font-weight: 700;
            line-height: 52.8px;
            letter-spacing: -2px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }
        .heading span {
            color: #FF7B00;
            font-weight: 700;
        }
        p.descriptions {
            font-family: Kanit;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }
        .heading-h4 {
            font-size: 20px;
            font-family: Syne;
            font-size: 16px;
            font-weight: 700;
            line-height: 22.4px;
            letter-spacing: -1px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }
        .heading-h3{
            font-size: 24px;
            font-weight: 700;
            line-height: normal;
        }

        .heading-h4{
            font-size: 20px;
            font-weight: 700;
            line-height: normal;
        }
        .heading-h5{
          font-size: 28px;
          font-weight: 700;
          line-height: 34.13px;
          text-align: center;
        }

        // div#content {
        //     padding-bottom: 70px;
        // }
        ul{
            list-style: none;
            padding: 0;
        }
        a{
            text-decoration: none;
            color: #000000;
        }



        img.custom-logo {
            width: 190px!important;
            height: auto;
        }
        .accent-btn-main {
            margin: 16px 0; /* Adds space around the button */
        }
        
        a.btn.accent-button {
            background: #121212;
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
            padding: 10px 20px; /* Increased padding for better touch area */
            min-width: 44px; /* Ensures minimum width */
            min-height: 44px; /* Ensures minimum height */
            color: #fff;
            // font-size: 16px;
            text-decoration: none;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-transform: uppercase;
            border-radius: 18px !important;
            font-size: 13px;
        }
        
        a.btn.accent-button ion-icon {
            font-size: 20px;
            padding-left: 10px; /* Space between text and icon */
        }
        
        button.btn.accent-button  a{
            color: #fff;
        }
        button.btn.accent-button:focus , button.btn.accent-button:hover {
            background: #FF7B00;;
            border: 1px solid #FF7B00;
        }
        button.btn.accent-button:focus a, button.btn.accent-button:hover a{
            color: #fff;
        }
        a.btn.accent-underline-btn {
            text-transform: uppercase;
            padding: 0;
            font-family: Syne;
            font-size: 12px;
            font-weight: 700;
            line-height: 20.4px;
            letter-spacing: -0.20000000298023224px;
            text-align: center;
            border-bottom: 2px solid #6754E9;
            border-radius: 0;
            width: max-content;
        }



        #menu-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black */
            display: none; /* Hidden by default */
            z-index: 999; /* Lower z-index than the menu */
        }
        


.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

/* .container{
    max-width: 1700px;
    margin: auto;
} */

.navbar{
    /* position: static; */
    width: 100%;
    color: #000;
    opacity: 0.85;
    z-index: 100;
    padding: 0;
    padding-top: 0px;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}
.logo{
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin:0 12px;
    font-size: 1.3rem;
}

// .navbar a {
//     transition: color 0.3s ease-in-out;
//     display: block;
//     padding: 16px 16px;
//     text-decoration: none;
//     color: #121212;
//     font-family: Montserrat;
//     font-size: 16px;
//     font-weight: 500;
//     line-height: 19.5px;
//     letter-spacing: 0.03em;
//     text-align: left;

// }
.navbar a.nav-link {
    font-family: "Syne";
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: -0.17000000178813934px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
}
// body.single .scrolled nav.navbar {
//     background-color: #000;
// }

// body.single .navbar a {
//     color: #ffffff;
// }
// body.single .navbar .dropdown-menu a {
//     color: #000000;
// }
// /* body.single .scrolled .navbar a  {
//     color: initial;
// } */
// body.single .scrolled button.btn.accent-button {
//     background-color: #fff;
// }
// body.single .scrolled button.btn.accent-button a{
//     color: #000;
// }




.nav-link:focus, .nav-link:hover{
    color: #FF7B00;

}

.dropdown:focus .dropdown-menu , .dropdown:hover .dropdown-menu {
    display: block!important;
    border-style: solid;
    border-color: #EBEBEB;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
}
a.dropdown-item {
    font-size: 15px;
    font-weight: 500;
    padding: 6px 0px 7px 15px;
    color: #000000;
    background: transparent;
}
.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover {
    transition: all ease .1s;
    color: #FF7B00!important;
    text-decoration: none!important;
    background-color: transparent!important;
}

li.nav-item.dropdown:hover .dropdown-toggle::after,
li.nav-item.dropdown:active .dropdown-toggle::after,
li.nav-item.dropdown:focus .dropdown-toggle::after
 {
    transform: rotate(180deg);
}

.navbar .menu-items ion-icon.md.hydrated {
    display: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


.breadcrumb-main-box {
    width: 87vw;
}
body.single-post .breadcrumb-main-box {
    margin-top: 0!important;
}


@media (max-width: 1200px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        right: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #000000;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }



.navbar .menu-items {
    padding: 100px;
    background: #fff;
    height: 100vh;
    max-width: 350px;
    transform: translate(-550%);
    margin-top: -40px;
    flex-direction: column;
    margin-left: -30px;
    width: 70vw;
    padding: 0 140px 0px 20px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #00000059;
    overflow: hidden;
    align-items: flex-start!important;
    justify-content: flex-start!important;
    padding-top: 10vh!important;
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 1000; 
}
/* .navbar .menu-items.closed-menu {
    display: none!important;
} */
.navbar .menu-items.mobile-1200-hidden {
    display: none;
}
.navbar .menu-items.desktop-1200-hidden ion-icon.md.hydrated {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 32px;
    background: #FF7B00;
    color: #fff;
    cursor: pointer;
}
.navbar button.btn.accent-button {
    display: none!important;
}
    .navbar .menu-items li{
        margin-bottom: 0rem;
        font-size: 1.1rem;
        font-weight: 500;
        width: 100%;
    }
    .navbar .menu-items li a {
        padding: 10px 15px 10px 15px;
        position: relative;
        width: 90%;
    }
    .dropdown-toggle::after {
        position: absolute;
        right: 0;
        font-size: 24px;
    }

    .logo{
        position: absolute;
        top: 0px;
        left: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
        position: absolute;
        left: 0;
        top: -40px;
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines-2 .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines-2  .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines-2  .line3{
        transform: rotate(-45deg);
    }
    .dropdown:focus .dropdown-menu, .dropdown:hover .dropdown-menu {
        position: static;
        display: block!important;
        border-style: unset;
        border-color: unset;
        background-color: transparent;
        border-radius: 0;
        padding: 0;
    }
    .mobile-hidden {
        display: none!important;
    }

 
    


}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}