
 body.page-id-10 div#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem 3rem 4rem 3rem;
    width: 100%;
}
 h1 {
    color: #444444;
    font-weight: 500;
}
span.woocommerce-Price-amount.amount{
    font-family: 'Poppins', sans-serif;
    font-size: 16px!important;
    font-weight: 400;
    font-style: normal;
    line-height: 20px!important;
}
.form-row {
    padding: 1rem 0;
}



.woocommerce form .form-row .input-text,
 .woocommerce-page form .form-row .input-text,
 .select2-container--default .select2-selection--single{
    width: 100%;
    height: 50px;
    padding: 0rem .9375rem 0rem .9375rem;
    margin: 0;
    background-color: #F2F2F2;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    color: #444444;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 40px;
}
 .select2-container--default .select2-selection--single{ 
    display: flex;
    align-items: center;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 12px;
}
.woocommerce-billing-fields label {
    padding: 0;
    margin: 0px 0px 5px 0px;
    background-color: transparent;
    text-align: left;
    float: none;
    color: #444444;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 22px;
}
.woocommerce-form-coupon .form-row-first {
    float: left;
    display: flex;
    justify-content: flex-end;
}
.woocommerce-billing-fields h3, h3#ship-to-different-address {
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 20px 0px;
    border-bottom: 1px solid #CCCCCC;
    color: #444444;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
}
table {
    width: 100%;
    margin-bottom: 4rem;
}
td, th {
    border-color: inherit;
    border-style: solid;
    border: 1px solid #dedede;
    border-width: 0;
    padding: 20px 27px 0px 10px;
}
button#place_order {
    height: 50px;
    padding: 0rem .9375rem 0rem .9375rem;
    background-color: #D90906;
    border: none;
    border-radius: 5px;
    color: #FEFEFE;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 50px;
    text-decoration: none !important;
}
input#coupon_code {
    width: 48%;
    min-width: 220px;
    border-radius: 5px;
    height: 50px;
    padding: 0rem 2.625rem 0rem .625rem;
    margin: 0px 10px 5px 0px;
    left: 0;
    position: relative;
    background-color: #FEFEFE;
    border: 1px solid #dedede;
    box-shadow: none;
    color: #d6d6d6;
    font-family: var(--text-font);
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 40px;
}
p.form-row.form-row-last button{
    height: 50px;
    padding: 0rem .9375rem 0rem .9375rem;
    background-color: #D90906;
    border: none;
    border-radius: 5px;
    color: #FEFEFE;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 50px;
    text-decoration: none !important;
}