@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

:root {
  --main-color: #eb7923;
  --white-color: #ffffff;
  --green-color: #00524c;
  --black-color: #000;
}

img {
  max-width: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
}

.container-all {
  width: 100% !important;
  max-width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  box-sizing: border-box !important;
}

@media (min-width: 2560px) {
  .container-all {
    max-width: 2560px !important;
  }
}

/* ========================= */

.contact-area {
  background: var(--white-color);
  padding: 80px 0px;
}

.contact-title h2 {
  font-size: 4.3rem;
  font-weight: 700;
  color: var(--green-color);
  margin-bottom: 30px;
}

.contact-title p {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: var(--black-color);
  max-width: 600px;
  margin: auto;
}

/*==tuch-section==*/

.tuch-form {
  max-width: 60%;
  margin: auto;
  margin-top: 1rem;
}

.tuch-input-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tuch-input label,
.tuch-textarea label {
  display: block;
  font-weight: 600;
  font-size: 0.875rem;
  /* 14px */
  color: var(--black-color);
  margin-bottom: 0.5em;
  padding-left: 0.3125em;
}

.tuch-input {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 0px;
}

.tuch-input input,
.tuch-textarea textarea {
  font-size: 0.8375rem;
  font-weight: 500;
  color: var(--black-color);
  width: 100%;
  border: 1px solid;
  border-image-source: linear-gradient(
    118.82deg,
    #eb7923 17.42%,
    #fcb336 53.57%,
    #00524c 86.81%
  );
  border-image-slice: 1;
  border-radius: 5px;
  padding: 19px;
  background-color: var(--white-color);
  outline: none !important;
}

.tuch-input-title h4 {
  display: inline-block;
  background: var(--white-color);
  position: relative;
  top: 0.8125em;
  left: 12px;
  color: var(--green-color) !important;
  padding: 7px 12px 5px 13px !important;
  font-size: 1.2rem !important;
  font-weight: 600 !important;
  margin: 0px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}

.checkbox label {
  margin-left: 5px !important;
  font-size: 14px !important;
  color: #000 !important;
  line-height: 1.4 !important;
  display: inline-block !important;
  vertical-align: middle !important;
  font-weight: 500;
}

.checkbox label a {
  text-decoration: none;
  text-decoration: underline;
  color: var(--black-color);
}

/* check-box */
.tuch-checkbox input[type="checkbox"] {
  appearance: none !important;
  -webkit-appearance: none !important;
  border: 2px solid #eb7923 !important;
  outline: none !important;
  width: 19px !important;
  height: 19px !important;
  margin-right: 8px !important;
  background-color: transparent !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease, border-color 0.3s ease !important;
  display: inline-block !important;
}

.tuch-checkbox input[type="checkbox"]::after {
  content: "";
  width: 0.9375em;
  height: 0.9375em;
  background: var(--main-color);
  display: none;
}

.tuch-checkbox input[type="checkbox"]:checked::after {
  display: block;
}

.tuch-submit {
  text-align: center;
}

.tuch-submit button {
  border-radius: 40px 40px 40px 40px;
  padding: 20px 35px 20px 35px;
  color: var(--white-color);
  background-color: var(--main-color);
  min-height: 38px;
  cursor: pointer;
  border: none;
  display: inline-block;
  text-decoration: none;
  font-size: 0.68rem;
  font-weight: 500;
}

@media (max-width: 1280px) {
  .tuch-form {
    max-width: 80%;
  }
}

@media (max-width: 864px) {
  .tuch-form {
    max-width: 90%;
  }
}

@media (max-width: 700px) {
  .tuch-input-flex {
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact-title h2 {
    font-size: 3.3rem;
    margin-bottom: 20px;
  }
}

/* ============================== */

.office-area {
  padding-bottom: 80px;
}

.office-title {
  text-align: center;
}

.office-title h2 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--green-color);
  margin-bottom: 20px;
}
.office-title p {
  padding: 10px 10px 10px 10px;
  font-size: 0.9375rem;
  color: var(--black-color);
  font-weight: 500;
}

.office-title p a {
  color: var(--color-black);
  text-decoration: underline;
}

.office-main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 3rem !important;
	max-width: 80%;
	margin: auto;
	row-gap: 30px;
	column-gap: 20px;
}

.office-item {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-radius: 20px;
	border: 0.0625em solid black;
	background: var(--white-color);
	padding: 3rem;
}

.office-item h4 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--green-color);
  margin-bottom: 30px;
}

.office-item h2 {
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--main-color);
}

.office-right{
    padding-left: 1rem;
}

.office-right p {
  text-align: left;
  font-size: 0.9375rem;
  font-weight: 500;
  color: var(--black-color);
  max-width: 300px;
  margin-bottom: 30px;
}

.office-right a {
  color: var(--color-black);
  text-decoration: underline;
  color: var(--black-color);
  font-weight: 500;
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 30px;
}

.office-right ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
  border: none;
  list-style: none;
  padding:0px;
}

.office-right ul li {
  color: var(--main-color);
  margin-top: 0.9375em;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
display: grid;
place-items: center;
}


.office-item ul li a {
  margin-top: 0;
  color: var(--color-secondary);
  text-decoration: none;
  margin: 0px;
}

.office-item ul li ion-icon{
    font-size: 1.6rem;
    font-weight: 1000;
}

@media (max-width: 1400px) {
    .office-main {
	max-width: 90%;
}
}

@media (max-width: 1200px) {
    .office-right p {
	max-width: 100%;
	margin-bottom: 20px;
}

.office-right a {
	margin-bottom: 20px;
}
}

@media (max-width: 1080px) {
    .office-main {
	grid-template-columns: 1fr;
}
}

@media (max-width: 640px) {
    .office-item {
	grid-template-columns: 1fr;
	padding: 2rem;
	gap: 30px;
}
.office-title h2 {
	font-size: 3rem;
	margin-bottom: 10px;
}
.office-right {
	padding-left: 0rem;
}

.office-right a {
	margin-bottom: 10px;
}

.office-item h4 {
	margin-bottom: 20px;
}
}

@media (min-width: 2000px) {
    .office-right p {
	font-size: 1.2rem;
}
}

/* ===================================================================================== */
/* ===================================================================================== */
/* ===================================================================================== */
/* ===================================================================================== */
/* ===================================================================================== */
/* ===================================================================================== */
/* ===================================================================================== */
/* ===================================================================================== */