footer {
    padding: 40px 40px;
}
footer p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}
footer ul {
    list-style: none;
}

footer ul li a{
    padding: 0;
    margin: 0;
    position: relative;
    display: inline-block;
    color: #444444 !important;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    text-decoration: none !important;
}

.footer-bar {
    padding: 70px 30px;
}
.footer-bar .col-md-6{
    padding-right: 2.9375rem;
    padding-left: 2.9375rem;
}
.footer-bar h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px !important;
    font-weight: 600;
    font-style: normal;
    line-height: 20px !important;
}
.footer-bar h4{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 14px;
    margin: 0rem 0rem 3rem 0rem;
}
.footer-bar p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
}