@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

:root {
  --main-color: #eb7923;
  --white-color: #ffffff;
  --green-color: #00524c;
  --black-color: #000;
}

img {
  max-width: 100%;
}

body {
  position: relative;
  overflex: hidden;
}

.container-all {
  width: 100% !important;
  max-width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  box-sizing: border-box !important;
}

@media (min-width: 2560px) {
  .container-all {
    max-width: 2560px !important;
  }
}

.footer-top {
  padding: 40px 20px;
}

.footer-inner-container {
  padding: 0px 40px;
}

/* Footer Style */
.footer-area {
  background: var(--green-color);
  color: var(--white-color);
  transition: all 0.6s ease !important;
  padding-bottom: 20px;
}

.footer-area:hover {
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
}

/* Top section links */
.footer-link {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

/* Social icons */
.footer-icon-link ion-icon {
  font-size: 22px;
  display: grid;
  place-items: center;
  color: var(--white-color);
}
.icon-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.footer-icon-link img {
  max-width: 16px;
}

/* Divider line */
.footer-divider {
  border-bottom: 1px solid #ffffff;
  width: 100%;
}

/* Bottom section */

.footer-logo-img img {
  max-width: 250px;
}

.footer-bootom-right img {
  max-width: 250px;
}

.leftImage img {
  max-width: 80px;
}

.footer-desc {
  font-size: 14px;
  line-height: 1.4;
  margin-top: 70px;
  padding: 0px !important;
}

.footer-bottom {
  padding: 20px 0px !important;
}

.name-footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.leftImage {
  height: 150px;
}

/* Images */
.footer-logo,
.footer-bottom-img {
  max-width: 100%;
}

/* Responsive Adjustments */

@media (min-width: 2560px) {
  .footer-link {
    font-size: 18px;
  }

  footer.footer-area.bg-green.mt-5.pb-4 {
    max-width: 1600px;
    margin: auto;
  }

  .footer-inner-container {
    max-width: 1600px;
    margin: auto;
  }
}

@media (max-width: 764px) {
  .footer-desc {
    font-size: 14px;
    text-align: center !important;
  }

  .row.align-items-center.footer-top,
  .footer-bottom-container {
    text-align: center;
    gap: 10px;
  }

  .leftImage {
    height: auto;
  }

  .footer-desc {
    margin-top: 20px;
  }

  .footer-bootom-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .footer-link-container {
    flex-direction: column !important;
  }
}
