
/*---------------------------------
		Colors Variables
-----------------------------------*/

// Define color variables
$color-white: #fff;
$color-orange: #FF7B00;
$color-gray: #6B6B6B;
$color-black: #000000;
$color-dark-gray: #121212;
$color-light-gray: #EBEBEB;
$color-semi-transparent-black: rgba(0, 0, 0, 0.3);
$color-shadow-black: #0000001F;

/*---------------------------------
		Opacity
-----------------------------------*/

// $opacity-black-075: rgba(0, 0, 0, 0.075);
// $opacity-black-015: rgba(0, 0, 0, 0.15);

/*---------------------------------
		Gradient
-----------------------------------*/

// $header-gradient: linear-gradient(to bottom, $black-900 0%, $black-100 100%);
// $link-hover-gradient: linear-gradient(to bottom, $blue-100 0%, $blue-200 100%);

/*---------------------------------
		Element Colors
-----------------------------------*/

// // <body>
// $color__body-text: $black-800;
// $color__background-body: $white;

// // <a>
// $color__link: $blue-100;
// $color__link-hover: $blue-500;

// $color__background-button: $gray-100;
// $color__background-button-hover: $gray-100;
// $color__border-button: $dark-gray-200;
// $color__border-button-hover: $black;

// $color__border-input: $gray-100;
// $color__text-input: $dark-gray-200;
// $color__text-input-focus: $black;

// // <pre>, <code>
// $color__background-pre: $gray-100;

// // <hr>
// $color__background-hr: $gray-150;
// $color__background-table: $blue-20;

// /*---------------------------------
// 		Border Colors
// -----------------------------------*/

// $color__border-light: $gray-100;
// $color__border-fieldset: $gray-200;
// $color__border-table: $gray-200;
// $color__border-header: $gray-300;
